.message {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 10px 0;

    .name {
        position: absolute;
        font-size: 10px;
        top: -10px;
        color: #999;
        margin-left: 15px;
    }

    .text {
        display: inline-block;
        background-color: rgb(0, 122, 255);
        top: 5px;
        position: relative;
        left: 7px;
        color: #fff;
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 18px;
        font-weight: 300;

        .typing {
            top: 3px;
            position: relative;
        }
    }
}
