.user-pills {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    .user-pill {
        float: left;
        margin: 0 10px 10px 0;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 3px;
        line-height: 32px;

        .user-image {
            margin: 2px 7px 2px -3px;
        }

        .remove {
            display: inline-block;
            margin-left: 3px;
            cursor: pointer;
        }
    }
}
